<div id="portfolio">
    <div class="portfolio-container">
      <h1 class="about-me-heading">My Work</h1>
      <div class="work-list">
        <div class="work">
          <img src="assets/img1.jpg">
          <div class="layer">
            <h3>E-commerce Marketplace for Print on Demand</h3>
            <p>This project aims to establish an E-commerce platform, titled "Print n Purchase", where designers
              can showcase and sell their T-shirt designs, while customers can easily browse and buy these
              designs.</p>
            <a href="https://github.com/RishwithaGantla/E-commerce-Marketplace-for-Print-on-Demand"><i
                class="bi bi-github"></i></a>
          </div>
        </div>
        <div class="work">
          <img src="assets/case-study.jpeg">
          <div class="layer">
            <h3>Case Study - Bring Your Own Device</h3>
            <p>This case study is about a rule called Bring Your Own Device
              (BYOD) at work, where employees can use their own smartphones for
              work.</p>
            <a href="https://github.com/RishwithaGantla/Case-Study---Bring-Your-Own-Device"><i
                class="bi bi-github"></i></a>
          </div>
        </div>
        <div class="work">
          <img src="assets/iot.png">
          <div class="layer">
            <h3>IoT Based Smart Automation</h3>
            <p>The Internet of Things (IoT) is a significant advancement in digital transformation, redefining
              modern
              living and business. It connects virtual and physical layers, giving people more control and
              opportunities to stay connected.</p>
            <a href="https://github.com/RishwithaGantla/IoT-Based-Smart-Automation"><i class="bi bi-github"></i></a>
          </div>
        </div>
      </div>
      <a href="https://github.com/RishwithaGantla" class="btn">See more</a>
    </div>
  </div>